<article>
  <header>
    <h1><%= @post.title %></h1>
    <p>
      Posted on
      <time datetime="<%= @post.created_at.strftime("%F %T%:z") %>"><%= @post.created_at.strftime("%F") %></time>
      by <%= @post.author_name %>.
    </p>
  </header>
  <section>
    <p><%= @post.body %></p>
  </section>
  <section>
    <header>
      <h1>Comments</h1>
    </header>
    <% @post.comments.order(created_at: :asc).includes(:author).each do |comment| %>
      <%= render comment %>
    <% end %>
  </section>
</article>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
